.progress-bar{
	height: 20px;
	background-color: #f0f0f0;
}

.progress-bar > div {
	height: inherit;
	width: 30%;
	background-color: #ff0000;
}

.progress-bar > div.medium {
	background-color: #0000ff;
}

.progress-bar > div.high {
	background-color: #00ff00;
}